.logo{
    display: block;
    margin: 0 auto;
    border-radius: 100px; 
    box-shadow: 0px 0px 5px 5px #666; 
}
/*
.dd{
    background: #A52A2A;
    color: #FF0000; 
    padding: 2px; 
    display: block;
    margin: 0 auto;
    border-radius: 100px;
*/
}
.map {
    float: right; 
    margin: 0 25% 26% 5px; 
   }
.gl {
  
  color: #f4f4f4;
  text-shadow: -1px -1px white, 1px 1px gray, 2px 2px #7a7a7a, 3px 3px #757575, 4px 4px #707070, 5px 5px #6b6b6b, 6px 6px #666666, 7px 7px #616161, 8px 8px #5c5c5c, 9px 9px #575757, 10px 10px #525252, 11px 11px #4d4d4d, 18px 18px 30px rgba(0, 0, 0, .4), 18px 18px 10px rgba(0, 0, 0, .4);
}
.fg {
  color: white;
  text-shadow: 0 0 5px white, 0 0 10px white, 0 0 15px white, 0 0 20px crimson, 0 0 35px crimson, 0 0 40px crimson, 0 0 50px crimson, 0 0 75px crimson;
}
